/* Willian Donadelli | <wdonadelli@gmail.com> | v2.0.0 */

*, *:before, *:after {box-sizing: border-box;}
/*--- animações ---*/
@keyframes zoom-in {
	from {transform: scale(0); opacity: 0;}
	to   {transform: scale(1); opacity: 1;}
}
@keyframes fade-in {
	from {opacity: 0;}
	to   {opacity: 1;}
}
@keyframes fade-out {
	from {opacity: 1;}
	to   {opacity: 0;}
}
@keyframes visible-in {
	from {opacity: 0; visibility: hidden;}
	to   {opacity: 1; visibility: visible;}
}
@keyframes visible-out {
	from {opacity: 1; visibility: visible;}
	to   {opacity: 0; visibility: hidden;}
}
@keyframes from-top {
	from {top: -100%; bottom: 200%; opacity: 0;}
	to   {opacity: 1;}
}
@keyframes from-bottom {
	from {top: 200%; bottom: -100%; opacity: 0;}
	to   {opacity: 1;}
}
@keyframes from-left {
	from {left: -100%; right: 200%; opacity: 0;}
	to   {opacity: 1;}
}
@keyframes from-right {
	from {left: 200%; right: -100%; opacity: 0;}
	to   {opacity: 1;}
}
@keyframes quickie {
	0%   {left: 100%; right: -100%; opacity: 0;}
	15%  {left: 0; right: 0; opacity: 1;}
	85%  {left: 0; right: 0; opacity: 1;}
	100% {left: -100%; right: 100%; opacity: 0;}
}
/*--- geral ---*/
html {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 16px;
	line-height: 20px;
}
body {
	margin: 0; padding: 0;
}
summary {
	cursor: pointer;
}
a {
	color: #4169E1;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
/*--- Forms ---*/
.wd-input,
.wd-button,
.wd-label {
	font-family: Verdana,sans-serif;
	font-size: 16px;
	line-height: 20px;
}
.wd-label {
	vertical-align: middle;
}
.wd-input {
	padding: 0.25em 0.5em;
	border: thin solid #686868;
}
.wd-input:hover {
	border-color: #4169E1;
}
.wd-input:focus {
	border-color: #4169E1;
	box-shadow: 0 0 0 1px #4169E1;
} 
.wd-input:disabled,
.wd-input[disabled] {
	opacity: 0.5;
	pointer-events: none;
}
.wd-input[required],
.wd-input:required {
	border-color: #DC143C;
}
.wd-input[required]:focus,
.wd-input:required:focus {
	box-shadow: 0 0 0 1px #DC143C;
}
.wd-input:out-of-range,
.wd-input:invalid {
	border-color: #DC143C;
	box-shadow: inset 0 0 10px 1px #DC143C;

}
.wd-input[type=radio],
.wd-input[type=checkbox] {
	display: inline;
	width: initial !important;
	padding: auto;
	border: 0;
}
.wd-input[type=range],
.wd-input[type=file],
.wd-input[type=range]:focus,
.wd-input[type=file]:focus,
.wd-input[type=range]:hover,
.wd-input[type=file]:hover {
	border: none !important;
	box-shadow: none;
	color: #000000;
}
.wd-input[type=range]:required,
.wd-input[type=file][required] {
	color: #DC143C;
}
.wd-button {
	padding: 0.25em 2em;
	cursor: pointer;
	border: thin solid;
	text-decoration: none !important;
	text-align: center;
	background-color: #B0C4DE;
	color: #000000;
}
.wd-button:hover,
.wd-button:focus {
	background-color: #FFFFFF !important;
	color: #000000 !important;
	border-color: #778899;
	box-shadow: inset 0 0 10px 0.2em #778899, inset 0 0 0 2px #000000;
}
.wd-button:disabled,
.wd-button[disabled] {
	opacity: 0.5;
	pointer-events: none;
}
.wd-boxform,
.wd-boxform-V {
	display: block;
	padding: 0;
}
.wd-boxform > .wd-label,
.wd-boxform > .wd-input,
.wd-boxform > .wd-button,
.wd-boxform-V > .wd-label,
.wd-boxform-V > .wd-input,
.wd-boxform-V > .wd-button {
	display: block;
	width: 100%;
	margin: 0.25em 0;
}
.wd-boxform-H {
	display: inline-block;
	display: flex;
	margin: 0.25em 0;
	width: 100%;
}
.wd-boxform-H > .wd-label,
.wd-boxform-H > .wd-input,
.wd-boxform-H > .wd-button {
	align-items: stretch;
	margin: auto;
	width: auto;
}
.wd-boxform-H > .wd-label:only-of-type {
	min-width: 15%;
	max-width: 15%;
}
.wd-boxform-H > .wd-input {
	width: 100%;
}

























/*--- containers ---*/
.wd-body-C,
.wd-body-W {
	margin-right: 20%;
}
.wd-body-C,
.wd-body-E {
	margin-left: 20%;
}
.wd-bar,
.wd-bar-N,
.wd-bar-S,
.wd-bar-E,
.wd-bar-W {
	display: block;
	position: fixed;
	margin: 0 !important;
	z-index: 100;
}
.wd-bar,
.wd-bar-N,
.wd-bar-S {
	left: 0;
	right: 0;
}
.wd-bar,
.wd-bar-N {
	top: 0;
}
.wd-bar-S {
	bottom: 0;
}
.wd-bar-W,
.wd-bar-E {
	top: 0;
	bottom: 0;
	width: 20%;
}
.wd-bar-E {
	right: 0;
}
.wd-bar-W {
	left: 0;
}
.wd-body-C .wd-bar,
.wd-body-C .wd-bar-N,
.wd-body-C .wd-bar-S,
.wd-body-E .wd-bar,
.wd-body-E .wd-bar-N,
.wd-body-E .wd-bar-S {
	left: 20%;
}
.wd-body-C .wd-bar,
.wd-body-C .wd-bar-N,
.wd-body-C .wd-bar-S,
.wd-body-W .wd-bar,
.wd-body-W .wd-bar-N,
.wd-body-W .wd-bar-S {
	right: 20%;
}
.wd-follow,
.wd-follow-N,
.wd-follow-S {
	position: sticky;
	z-index: 100;
}
.wd-follow,
.wd-follow-N {
	top: 0;
}
.wd-follow-S {
	bottom: 0;
}
.wd-overflow {
	overflow: auto;
}
/*--- table ---*/
.wd-table {
	font-family: Verdana,sans-serif;
	font-size: 14px;
	line-height: 16px;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}
.wd-table[border] {
	border-style: solid;
}
.wd-table caption,
.wd-table th {
	font-weight: bold;
}
.wd-table td,
.wd-table th {
	padding: 0.25em;
}
.wd-table thead *[data-wd-sort-col] {
	cursor: pointer;
}
.wd-table thead *[data-wd-sort-col="-1"]:before {
	content: "\2191 ";
}
.wd-table thead *[data-wd-sort-col="+1"]:before {
	content: "\2193 ";
}
/*--- list---*/
.wd-list {
	list-style-position: inside;
	padding: 0;
}
.wd-list > li {
	padding: 0.25em 0.25em 0.25em 40px;
}

/*--- dropdown ---*/
.wd-dropbox,
.wd-dropbox-click {
	position: relative;
	cursor: pointer;
}
.wd-drop,
.wd-drop-N,
.wd-drop-S,
.wd-drop-W,
.wd-drop-E {
	display: none;
	position: absolute;
	margin: 0;
	width: 15em;
	max-height: 20em;
	overflow: auto;
	z-index: 2;
}
.wd-dropbox:hover > .wd-drop-N,
.wd-dropbox-click[data-wd-open] > .wd-drop-N {
	display: block;
	left: 0;
	bottom: 100%;
}
.wd-dropbox:hover > .wd-drop,
.wd-dropbox:hover > .wd-drop-S,
.wd-dropbox-click[data-wd-open] > .wd-drop,
.wd-dropbox-click[data-wd-open] > .wd-drop-S {
	display: block;
	left: 0;
	top: 100%;
}
.wd-dropbox:hover > .wd-drop-E,
.wd-dropbox-click[data-wd-open] > .wd-drop-E {
	display: block;
	left: 100%;
	top: 0;
}
.wd-dropbox:hover > .wd-drop-W,
.wd-dropbox-click[data-wd-open] > .wd-drop-W {
	display: block;
	right: 100%;
	top: 0;
}
/*--- dialog ---*/
.wd-msg,
.wd-msg-N,
.wd-msg-S {
	display: none;
	position: fixed;
	margin: auto;
	left: 0;
	right: 0;
	width: 60%;
	text-align: center;
	z-index: 2000;
}
.wd-msgform,
.wd-msgform-help,
.wd-msgform-warn {
	display: none;
	position: fixed;
	margin: auto;
	top: 5%;
	left: 0;
	right: 0;
	width: 60%;
	font-size: small;
	padding: 0.25em;
	font-style: italic;
	text-align: center;
	z-index: 2000;
}
.wd-input:focus + .wd-msgform,
.wd-input:focus + .wd-msgform-help {
	display: block;
	animation: from-right 0.4s, fade-out 9.6s;
}
.wd-input:out-of-range + .wd-msgform-warn,
.wd-input:invalid + .wd-msgform-warn {
	display: block;
	animation: from-left 0.4s;
}
.wd-modal[data-wd-open] > .wd-msg,
.wd-modal[data-wd-open] > .wd-msg-N,
.wd-msg[data-wd-open],
.wd-msg-N[data-wd-open] {
	display: block;
	top: 5%;
	animation: from-left 0.4s;
}
.wd-modal[data-wd-open] > .wd-msg-S,
.wd-msg-S[data-wd-open] {
	display: block;
	bottom: 5%;
	animation: from-right 0.4s;
}
.wd-modal > .wd-msg,
.wd-modal > .wd-msg-N,
.wd-modal > .wd-msg-S {
	position: absolute;
}


















/*------------------------------------------------------------------- form --*/

/*-- generic --*/

/*-- input --*/

/*-- button --*/

/*-- label --*/

/*-- form --*/

/*------------------------------------------------------------------ flyer --*/

/*-- nav --*/
.wd-nav {
	display: flex;
	padding: 0;
}
.wd-nav:after {
	content: "";
	clear: both;
	display: table;
}
.wd-nav > * {
	background-color: inherit;
	color: inherit;
	cursor: pointer;
	display: inline-block;
	float: left;
	margin: 0;
	padding: 0.5em;
	text-align: center;	
	text-decoration: none !important;
}
.wd-nav > a:hover,
.wd-nav > a:focus,
.wd-nav > a.wd-nav-active {
	background-color: #d9d9d9;
	color: #1e90ff;
	box-shadow: inset 0 0 1em 0.1em #b3b3b3;
}
.wd-nav.wd-vertical {display: block;}
.wd-nav.wd-vertical > * {
	display: block;
	float: none;
	text-align: left;
	width: 100%;
}
/*-- head/footer --*/
.wd-head, .wd-foot {
	display: block;
	padding: 0.5em 1em;
}
.wd-head > *, .wd-foot > * {
	margin: 0.25em 0;
	padding-right: 0;
	padding-left: 0;
}
.wd-head > .wd-nav, .wd-foot > .wd-nav {
	margin-right: -1em;
	margin-left: -1em;
}
.wd-head > .wd-nav:last-child,
.wd-foot > .wd-nav:last-child {margin-bottom: -0.5em;}
.wd-head > .wd-nav:first-child,
.wd-foot > .wd-nav:first-child {margin-top: -0.5em;}
/*-- flyer --*/
.wd-flyer {
	display: block;
	padding: 0.5em;
}
.wd-flyer > .wd-head,
.wd-flyer > .wd-foot,
.wd-flyer > .wd-nav {
	margin-right: -0.5em;
	margin-left: -0.5em;
}
.wd-flyer > .wd-head:first-child {margin-top: -0.5em;}
.wd-flyer > .wd-foot:last-child  {margin-bottom: -0.5em;}

/*----------------------------------------------------------------- window --*/

/*-- modal--*/
.wd-modal {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	background-color: rgba(0,0,0,0.8);
	opacity: 1;
	z-index: 9999;
}
.wd-modal.wd-open {display: block;}
/*-- window --*/
.wd-window {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	margin: auto;
	overflow: auto;
	z-index: 99999;
	animation: zoom-in 0.4s;
}
.wd-modal > .wd-window {position: absolute;}
.wd-window.wd-open, .wd-modal.wd-open > .wd-window {display: block;}
/*-- small --*/
.wd-window.wd-win-small {
	top: 40%;
	bottom: initial;
	width: 20%;
	max-height: 20%;
}
/*-- medium --*/
.wd-window.wd-win-medium {
	top: 30%;
	bottom: initial;
	width: 40%;
	max-height: 40%;
}
/*-- big --*/
.wd-window.wd-win-big {
	top: 5%;
	bottom: initial;
	width: 90%;
	max-height: 90%;
}
/*-- top --*/
.wd-window.wd-win-top {
	bottom: initial;
	max-height: 40%;
	animation: from-top 0.4s;
}
/*-- bottom --*/
.wd-window.wd-win-bottom {
	top: initial;
	max-height: 40%;
	animation: from-bottom 0.4s;
}
/*-- left --*/
.wd-window.wd-win-left {
	right: initial;
	max-width: 25%;
	animation: from-left 0.4s;
}
/*-- right --*/
.wd-window.wd-win-right {
	left: initial;
	max-width: 25%;
	animation: from-right 0.4s;
}
/*-- notification --*/
.wd-window.wd-win-note {
	bottom: initial;
	width: 95%;
	height: 15%;
	left: -100%;
	right: 100%;
	opacity: 0;
	animation: quickie 5s;
}


.wd-dialog,
.wd-dialog-small,
.wd-dialog-big,
.wd-dialog-full,
.wd-dialog-N,
.wd-dialog-S,
.wd-dialog-E,
.wd-dialog-W {
	display: none;
	position: fixed;
	margin: auto;
	left: 0;
	right: 0;
	overflow: auto;
	z-index: 1000;
}
.wd-dialog {
	top: 30%;	
	width: 40%;	
	max-height: 40%;
}
.wd-dialog-small {
	top: 40%;
	width: 20%;
	max-height: 20%;
}
.wd-dialog-big {
	top: 5%;
	width: 90%;
	max-height: 90%;
}
.wd-dialog-full {
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	max-height: initial;
}
.wd-dialog-N {
	top: 0;
	width: 100%;
	max-height: 40%;
}
.wd-dialog-S {
	top: initial;
	bottom: 0;
	width: 100%;
	max-height: 40%;
}
.wd-dialog-W {
	top: 0;
	bottom: 0;
	right: initial;
	height: 100%;
	max-height: initial;
	width: auto;
	max-width: 35%;
}
.wd-dialog-E {
	top: 0;
	bottom: 0;
	left: initial;
	height: 100%;
	max-height: initial;
	width: auto;
	max-width: 35%;
}
.wd-dialog[data-wd-open],
.wd-modal[data-wd-open] > .wd-dialog {
	display: block;
	animation: zoom-in 0.4s;
}
.wd-dialog-small[data-wd-open],
.wd-modal[data-wd-open] > .wd-dialog-small {
	display: block;
	animation: zoom-in 0.4s;
}
.wd-dialog-big[data-wd-open],
.wd-modal[data-wd-open] > .wd-dialog-big {
	display: block;
	animation: zoom-in 0.4s;
}
.wd-dialog-full[data-wd-open],
.wd-modal[data-wd-open] > .wd-dialog-full {
	display: block;
	animation: zoom-in 0.4s;
}
.wd-dialog-N[data-wd-open],
.wd-modal[data-wd-open] > .wd-dialog-N {
	display: block;
	animation: from-top 0.4s;
}
.wd-dialog-S[data-wd-open],
.wd-modal[data-wd-open] > .wd-dialog-S {
	display: block;
	animation: from-bottom 0.4s;
}
.wd-dialog-W[data-wd-open],
.wd-modal[data-wd-open] > .wd-dialog-W {
	display: block;
	animation: from-left 0.4s;
}
.wd-dialog-E[data-wd-open],
.wd-modal[data-wd-open] > .wd-dialog-E {
	display: block;
	animation: from-right 0.4s;
}
.wd-modal > .wd-dialog,
.wd-modal > .wd-dialog-small,
.wd-modal > .wd-dialog-big,
.wd-modal > .wd-dialog-full,
.wd-modal > .wd-dialog-N,
.wd-modal > .wd-dialog-S,
.wd-modal > .wd-dialog-E,
.wd-modal > .wd-dialog-W {
	position: absolute;
}





















/*---------------------------------------------------------------- dropbox --*/







/*------------------------------------------------------------------- text --*/

/*-- color --*/
.wd-text-black,  .wd-text-black-child > *  {color: #000000;}
.wd-text-white,  .wd-text-white-child > *  {color: #ffffff;}
.wd-text-grey,   .wd-text-grey-child > *   {color: #595959;}
.wd-text-red,    .wd-text-red-child > *    {color: #e60000;}
.wd-text-green,  .wd-text-green-child > *  {color: #006666;}
.wd-text-blue,   .wd-text-blue-child > *   {color: #0000e6;}
.wd-text-yellow, .wd-text-yellow-child > * {color: #808000;}
.wd-text-orange, .wd-text-orange-child > * {color: #e67e00;}
.wd-text-brown,  .wd-text-brown-child > *  {color: #874312;}
.wd-text-pink,   .wd-text-pink-child > *   {color: #ff3399;}
.wd-text-purple, .wd-text-purple-child > * {color: #592d86;}
/*-- size --*/
.wd-text-xxsmall, .wd-text-xxsmall-child > * {font-size: xx-small;}
.wd-text-xsmall,  .wd-text-xsmall-child > *  {font-size: x-small;}
.wd-text-small,   .wd-text-small-child > *   {font-size: small;}
.wd-text-smaller, .wd-text-smaller-child > * {font-size: smaller;}
.wd-text-medium,  .wd-text-medium-child > *  {font-size: medium;}
.wd-text-larger,  .wd-text-larger-child > *  {font-size: larger;}
.wd-text-large,   .wd-text-large-child > *   {font-size: large;}
.wd-text-xlarge,  .wd-text-xlarge-child > *  {font-size: x-large;}
.wd-text-xxlarge, .wd-text-xxlarge-child > * {font-size: xx-large;}
/*-- align --*/
.wd-text-left,    .wd-text-left-child > *    {text-align: left;}
.wd-text-center,  .wd-text-center-child > *  {text-align: center;}
.wd-text-right,   .wd-text-right-child > *   {text-align: right;}
.wd-text-justify, .wd-text-justify-child > * {text-align: justify;}
.wd-text-middle,  .wd-text-middle-child > *  {vertical-align: middle;}
.wd-text-top,     .wd-text-top-child > *     {vertical-align: top;}
.wd-text-bottom,  .wd-text-bottom-child > *  {vertical-align: bottom;}
/*-- case --*/
.wd-text-upper,  .wd-text-upper-child > *  {text-transform: uppercase;}
.wd-text-normal, .wd-text-normal-child > * {text-transform: none;}
.wd-text-lower,  .wd-text-lower-child > *  {text-transform: lowercase;}
.wd-text-title,  .wd-text-titler-child > * {text-transform: capitalize;}

/*-------------------------------------------------------------------- box --*/

/*-- color --*/
.wd-box-black,  .wd-box-black-child > *  {color: #f2f2f2; background-color: #000000;}
.wd-box-white,  .wd-box-white-child > *  {color: #000000; background-color: #ffffff;}
.wd-box-grey,   .wd-box-grey-child > *   {color: #e6e6e6; background-color: #595959;}
.wd-box-red,    .wd-box-red-child > *    {color: #ffe6e6; background-color: #cc0000;}
.wd-box-green,  .wd-box-green-child > *  {color: #e6ffff; background-color: #006666;}
.wd-box-blue,   .wd-box-blue-child > *   {color: #e6e6ff; background-color: #000080;}
.wd-box-yellow, .wd-box-yellow-child > * {color: #ffffe6; background-color: #808000;}
.wd-box-orange, .wd-box-orange-child > * {color: #fff4e6; background-color: #cc7000;}
.wd-box-brown,  .wd-box-brown-child > *  {color: #f9e2d2; background-color: #874312;}
.wd-box-pink,   .wd-box-pink-child > *   {color: #ffe6f2; background-color: #ff1a8c;}
.wd-box-purple, .wd-box-purple-child > * {color: #f0ebfa; background-color: #6633cc;}
/*-- position --*/
.wd-box-n, .wd-box-e, .wd-box-s, .wd-box-w,
.wd-box-ne, .wd-box-se, .wd-box-sw, .wd-box-nw,
.wd-box-central {
	position: absolute;
	display: block;
	margin: 0;
	text-align: center;
	vertical-align: middle;
}
.wd-box-n  {top: 0; left: 50%; transform: translate(-50%, 0);}
.wd-box-ne {top: 0; right: 0;}
.wd-box-e  {right: 0; top: 50%; transform: translate(0, -50%);}
.wd-box-se {bottom: 0; right: 0;}
.wd-box-s  {bottom: 0; left: 50%; transform: translate(-50%, 0);}
.wd-box-sw {bottom: 0; left: 0;}
.wd-box-w  {left: 0; top: 50%; transform: translate(0, -50%);}
.wd-box-nw {top: 0; left: 0;}
.wd-box-central {top: 50%; left: 50%; transform: translate(-50%, -50%);}
/*-- show/hide --*/
* > .wd-box-show-in, .wd-box-show-in-child > *               {opacity: 0; visibility: hidden;  animation: visible-out 0.8s;}
*:hover > .wd-box-show-in, .wd-box-show-in-child:hover > *   {opacity: 1; visibility: visible; animation: visible-in 0.8s;}
* > .wd-box-show-out, .wd-box-show-out-child > *             {opacity: 1; visibility: visible; animation: visible-in 0.8s;}
*:hover > .wd-box-show-out, .wd-box-show-out-child:hover > * {opacity: 0; visibility: hidden;  animation: visible-out 0.8s;}
/*-- shadow --*/
.wd-box-shadow, .wd-box-shadow-child > *,
.wd-box-shadow-out, .wd-box-shadow-child-out > *,
.wd-box-shadow-in:hover, .wd-box-shadow-child-in > *:hover {box-shadow: 0.5em 0.5em 0.5em #cccccc;}
.wd-box-shadow-out:hover, .wd-box-shadow-child-out > *:hover {box-shadow: none;}
/*-- cloud --*/
.wd-box-cloud, .wd-box-cloud-child > *,
.wd-box-cloud-out, .wd-box-cloud-child-out > *,
.wd-box-cloud-in:hover, .wd-box-cloud-child-in > *:hover {
	box-shadow: 0 0 1em 0.5em #cccccc;
}
.wd-box-cloud-out:hover, .wd-box-cloud-child-out > *:hover {
	box-shadow: none;
}
/*-- opaque --*/
.wd-box-opaque, .wd-box-opaque-child > *,
.wd-box-opaque-out, .wd-box-opaque-child-out > *,
.wd-box-opaque-in:hover, .wd-box-opaque-child-in > *:hover {
	opacity: 0.5;
}
.wd-box-opaque-out:hover, .wd-box-opaque-child-out > *:hover {
	opacity: 1;
}
/*-- upon --*/
.wd-box-upon:hover, .wd-box-upon-child > *:hover {
	background-color:  #d9d9d9;
	color: #1E90FF;
	box-shadow: inset 0 0 1em 0.1em #b3b3b3;
}
/*-- zebra --*/
.wd-box-zebra > *:nth-child(even) {
	background-color:  #d9d9d9;
	color: #1E90FF;
	box-shadow: inset 0 0 1em 0.1em #b3b3b3;
}
/*--- row/col---*/
.wd-box-row {display: table; width: 100%;}
.wd-box-row > .wd-box-col-01, .wd-box-row > .wd-box-col-02, .wd-box-row > .wd-box-col-03,
.wd-box-row > .wd-box-col-04, .wd-box-row > .wd-box-col-05, .wd-box-row > .wd-box-col-06,
.wd-box-row > .wd-box-col-07, .wd-box-row > .wd-box-col-08, .wd-box-row > .wd-box-col-09,
.wd-box-row > .wd-box-col-10, .wd-box-row > .wd-box-col-11, .wd-box-row > .wd-box-col-12 {
	display: table-cell;
	vertical-align: top;
}
.wd-box-row > .wd-box-col-12 {width: 100%;}
.wd-box-row > .wd-box-col-11 {width: 91.66666666666667%;}
.wd-box-row > .wd-box-col-10 {width: 83.33333333333333%;}
.wd-box-row > .wd-box-col-09 {width: 75%;}
.wd-box-row > .wd-box-col-08 {width: 66.66666666666667%;}
.wd-box-row > .wd-box-col-07 {width: 58.333333333333336%;}
.wd-box-row > .wd-box-col-06 {width: 50%;}
.wd-box-row > .wd-box-col-05 {width: 41.666666666666664%;}
.wd-box-row > .wd-box-col-04 {width: 33.333333333333336%;}
.wd-box-row > .wd-box-col-03 {width: 25%;}
.wd-box-row > .wd-box-col-02 {width: 16.666666666666668%;}
.wd-box-row > .wd-box-col-01 {width: 8.333333333333334%;}




/*---------------------------------------------------------------- generic --*/

/*-- Title --*/
.wd-h1, .wd-h1-child > *, h1 {font-size: 2.00em;}
.wd-h2, .wd-h2-child > *, h2 {font-size: 1.50em;}
.wd-h3, .wd-h3-child > *, h3 {font-size: 1.20em;}
.wd-h4, .wd-h4-child > *, h4 {font-size: 1.00em;}
.wd-h5, .wd-h5-child > *, h5 {font-size: 0.85em;}
.wd-h6, .wd-h6-child > *, h6 {font-size: 0.65em;}
.wd-h1, .wd-h1-child > *, h1,
.wd-h2, .wd-h2-child > *, h2,
.wd-h3, .wd-h3-child > *, h3,
.wd-h4, .wd-h4-child > *, h4,
.wd-h5, .wd-h5-child > *, h5,
.wd-h6, .wd-h6-child > *, h6 {
	font-weight: bold;
	margin: 0.5em 0;
	padding: 0.25em;
}
/*-- Paragraph --*/
.wd-p, .wd-p-child > *       {text-indent: 4em; text-align: justify;}
.wd-b, .wd-b-child > *       {font-weight: bold;}
.wd-u, .wd-u-child > *       {text-decoration: underline;}
.wd-i, .wd-i-child > *       {font-style: italic;}
.wd-s, .wd-s-child > *       {text-decoration: line-through;}
.wd-mark, .wd-mark-child > * {background-color: #FFFF00;}
/*-- padding --*/
.wd-padding,        .wd-padding-child > *,
.wd-padding-top,    .wd-padding-top-child > *,
.wd-padding-height, .wd-padding-height-child > * {padding-top: 0.5em;}

.wd-xpadding,        .wd-xpadding-child > *,
.wd-xpadding-top,    .wd-xpadding-top-child > *,
.wd-xpadding-height, .wd-xpadding-height-child > * {padding-top: 1em;}

.wd-xxpadding,        .wd-xxpadding-child > *,
.wd-xxpadding-top,    .wd-xxpadding-top-child > *,
.wd-xxpadding-height, .wd-xxpadding-height-child > * {padding-top: 2em;}

.wd-padding,        .wd-padding-child > *,
.wd-padding-bottom, .wd-padding-bottom-child > *,
.wd-padding-height, .wd-padding-height-child > * {padding-bottom: 0.5em;}

.wd-xpadding,        .wd-xpadding-child > *,
.wd-xpadding-bottom, .wd-xpadding-bottom-child > *,
.wd-xpadding-height, .wd-xpadding-height-child > * {padding-bottom: 1em;}

.wd-xxpadding,        .wd-xxpadding-child > *,
.wd-xxpadding-bottom, .wd-xxpadding-bottom-child > *,
.wd-xxpadding-height, .wd-xxpadding-height-child > * {padding-bottom: 2em;}

.wd-padding,        .wd-padding-child > *,
.wd-padding-left,   .wd-padding-left-child > *,
.wd-padding-length, .wd-padding-length-child > * {padding-left: 0.5em;}

.wd-xpadding,        .wd-xpadding-child > *,
.wd-xpadding-left,   .wd-xpadding-left-child > *,
.wd-xpadding-length, .wd-xpadding-length-child > * {padding-left: 1em;}

.wd-xxpadding,        .wd-xxpadding-child > *,
.wd-xxpadding-left,   .wd-xxpadding-left-child > *,
.wd-xxpadding-length, .wd-xxpadding-length-child > * {padding-left: 2em;}

.wd-padding,        .wd-padding-child > *,
.wd-padding-right,  .wd-padding-right-child > *,
.wd-padding-length, .wd-padding-length-child > * {padding-right: 0.5em;}

.wd-xpadding,        .wd-xpadding-child > *,
.wd-xpadding-right,  .wd-xpadding-right-child > *,
.wd-xpadding-length, .wd-xpadding-length-child > * {padding-right: 1em;}

.wd-xxpadding,        .wd-xxpadding-child > *,
.wd-xxpadding-right,  .wd-xxpadding-right-child > *,
.wd-xxpadding-length, .wd-xxpadding-length-child > * {padding-right: 2em;}
/*-- margin --*/
.wd-margin,        .wd-margin-child > *,
.wd-margin-top,    .wd-margin-top-child > *,
.wd-margin-height, .wd-margin-height-child > * {margin-top: 0.5em;}

.wd-xmargin,        .wd-xmargin-child > *,
.wd-xmargin-top,    .wd-xmargin-top-child > *,
.wd-xmargin-height, .wd-xmargin-height-child > * {margin-top: 1em;}

.wd-xxmargin,        .wd-xxmargin-child > *,
.wd-xxmargin-top,    .wd-xxmargin-top-child > *,
.wd-xxmargin-height, .wd-xxmargin-height-child > * {margin-top: 2em;}

.wd-margin,        .wd-margin-child > *,
.wd-margin-bottom, .wd-margin-bottom-child > *,
.wd-margin-height, .wd-margin-height-child > * {margin-bottom: 0.5em;}

.wd-xmargin,        .wd-xmargin-child > *,
.wd-xmargin-bottom, .wd-xmargin-bottom-child > *,
.wd-xmargin-height, .wd-xmargin-height-child > * {margin-bottom: 1em;}

.wd-xxmargin,        .wd-xxmargin-child > *,
.wd-xxmargin-bottom, .wd-xxmargin-bottom-child > *,
.wd-xxmargin-height, .wd-xxmargin-height-child > * {margin-bottom: 2em;}

.wd-margin,        .wd-margin-child > *,
.wd-margin-left,   .wd-margin-left-child > *,
.wd-margin-length, .wd-margin-length-child > * {margin-left: 0.5em;}

.wd-xmargin,        .wd-xmargin-child > *,
.wd-xmargin-left,   .wd-xmargin-left-child > *,
.wd-xmargin-length, .wd-xmargin-length-child > * {margin-left: 1em;}

.wd-xxmargin,        .wd-xxmargin-child > *,
.wd-xxmargin-left,   .wd-xxmargin-left-child > *,
.wd-xxmargin-length, .wd-xxmargin-length-child > * {margin-left: 2em;}

.wd-margin,        .wd-margin-child > *,
.wd-margin-right,  .wd-margin-right-child > *,
.wd-margin-length, .wd-margin-length-child > * {margin-right: 0.5em;}

.wd-xmargin,        .wd-xmargin-child > *,
.wd-xmargin-right,  .wd-xmargin-right-child > *,
.wd-xmargin-length, .wd-xmargin-length-child > * {margin-right: 1em;}

.wd-xxmargin,        .wd-xxmargin-child > *,
.wd-xxmargin-right,  .wd-xxmargin-right-child > *,
.wd-xxmargin-length, .wd-xxmargin-length-child > * {margin-right: 2em;}
/*-- border --*/
.wd-border,        .wd-border-child > *,
.wd-border-top,    .wd-border-top-child > *,
.wd-border-height, .wd-border-height-child > * {border-top: thin solid;}

.wd-xborder,        .wd-xborder-child > *,
.wd-xborder-top,    .wd-xborder-top-child > *,
.wd-xborder-height, .wd-xborder-height-child > * {border-top: medium solid;}

.wd-xxborder,        .wd-xxborder-child > *,
.wd-xxborder-top,    .wd-xxborder-top-child > *,
.wd-xxborder-height, .wd-xxborder-height-child > * {border-top: thick solid;}

.wd-border,        .wd-border-child > *,
.wd-border-bottom, .wd-border-bottom-child > *,
.wd-border-height, .wd-border-height-child > * {border-bottom: thin solid;}

.wd-xborder,        .wd-xborder-child > *,
.wd-xborder-bottom, .wd-xborder-bottom-child > *,
.wd-xborder-height, .wd-xborder-height-child > * {border-bottom: medium solid;}

.wd-xxborder,        .wd-xxborder-child > *,
.wd-xxborder-bottom, .wd-xxborder-bottom-child > *,
.wd-xxborder-height, .wd-xxborder-height-child > * {border-bottom: thick solid;}

.wd-border,        .wd-border-child > *,
.wd-border-left,   .wd-border-left-child > *,
.wd-border-length, .wd-border-length-child > * {border-left: thin solid;}

.wd-xborder,        .wd-xborder-child > *,
.wd-xborder-left,   .wd-xborder-left-child > *,
.wd-xborder-length, .wd-xborder-length-child > * {border-left: medium solid;}

.wd-xxborder,        .wd-xxborder-child > *,
.wd-xxborder-left,   .wd-xxborder-left-child > *,
.wd-xxborder-length, .wd-xxborder-length-child > * {border-left: thick solid;}

.wd-border,        .wd-border-child > *,
.wd-border-right,  .wd-border-right-child > *,
.wd-border-length, .wd-border-length-child > * {border-right: thin solid;}

.wd-xborder,        .wd-xborder-child > *,
.wd-xborder-right,  .wd-xborder-right-child > *,
.wd-xborder-length, .wd-xborder-length-child > * {border-right: medium solid;}

.wd-xxborder,        .wd-xxborder-child > *,
.wd-xxborder-right,  .wd-xxborder-right-child > *,
.wd-xxborder-length, .wd-xxborder-length-child > * {border-right: thick solid;}
/*-- radius --*/
.wd-radius,      .wd-radius-child > *,
.wd-radius-top,  .wd-radius-top-child > *,
.wd-radius-left, .wd-radius-left-child > * {border-top-left-radius: 0.5em;}

.wd-radius,       .wd-radius-child > *,
.wd-radius-top,   .wd-radius-top-child > *,
.wd-radius-right, .wd-radius-right-child > * {border-top-right-radius: 0.3em;}

.wd-radius,        .wd-radius-child > *,
.wd-radius-bottom, .wd-radius-bottom-child > *,
.wd-radius-left,   .wd-radius-left-child > * {border-bottom-left-radius: 0.3em;}

.wd-radius,        .wd-radius-child > *,
.wd-radius-bottom, .wd-radius-bottom-child > *,
.wd-radius-right,  .wd-radius-right-child > * {border-bottom-right-radius: 0.3em;}








.wd-float,
.wd-float-W {
	float: left;
}
.wd-float-E {
	float: right;
}
.wd-hide,
.wd-hide-screen {
	visibility: hidden;
}
.wd-hide-print {
	visibility: visible;
}
@media print {
	.wd-hide-print {
		visibility: hidden;
	}
	.wd-hide,
	.wd-hide-screen {
		visibility: visible;
	}
}

/*----------------------------------------------------------------- symbol --*/

/*------------------------------------------------------------------- code --*/

















/*----------------------------------------------------------------- symbol --*/
.wd-symbol-add::before {
	content: "\2795";
	margin-right: 0.5em;
	text-decoration: none !important;
}
.wd-symbol-remove::before {
	content: "\2796";
	margin-right: 0.5em;
	text-decoration: none !important;
}
.wd-symbol-back::before {
	content: "\21B6";
	font-weight: bold;
	margin-right: 0.5em;
	text-decoration: none !important;
}
.wd-symbol-forward::before {
	content: "\21B7";
	font-weight: bold;
	margin-right: 0.5em;
	text-decoration: none !important;
}
.wd-symbol-cancel::before {
	content: "\2715";
	margin-right: 0.5em;
	text-decoration: none !important;
}
.wd-symbol-ok::before {
	content: "\2714";
	margin-right: 0.5em;
	text-decoration: none !important;
}
.wd-symbol-info::before {
	content: "\2139";
	margin-right: 0.5em;
	text-decoration: none !important;
}
.wd-symbol-question::before {
	content: "\2753";
	margin-right: 0.5em;
	text-decoration: none !important;
}
.wd-symbol-alert::before {
	content: "\2757";
	margin-right: 0.5em;
	text-decoration: none !important;
}
.wd-symbol-error::before {
	content: "\26D4";
	margin-right: 0.5em;
	text-decoration: none !important;
}
.wd-symbol-help::before {
	content: "\2753";
	margin-right: 0.5em;
	text-decoration: none !important;
}
.wd-symbol-menu::before {
	content: "\2630";
	margin-right: 0.5em;
	text-decoration: none !important;
}
.wd-symbol-forbidden::before {
	content: "\26DE";
	margin-right: 0.5em;
	text-decoration: none !important;
}
.wd-symbol-reload::before {
	content: "\21BB";
	font-weight: bold;
	margin-right: 0.5em;
	text-decoration: none !important;
}
.wd-symbol-mail::before {
	content: "\2709";
	margin-right: 0.5em;
	text-decoration: none !important;
}
.wd-symbol-config::before {
	content: "\2699";
	margin-right: 0.5em;
	text-decoration: none !important;
}
.wd-symbol-open::before {
	content: "\25BE";
	margin-right: 0.5em;
	text-decoration: none !important;
}
.wd-symbol-star::before {
	content: "\2605";
	margin-right: 0.5em;
	text-decoration: none !important;
}
.wd-symbol-phone::before {
	content: "\2706";
	margin-right: 0.5em;
	text-decoration: none !important;
}
.wd-symbol-next::before {
	content: "\2771";
	margin-right: 0.5em;
	text-decoration: none !important;
}
.wd-symbol-previous::before {
	content: "\2770";
	margin-right: 0.5em;
	text-decoration: none !important;
}
/*------------------------------------------------------------------- code --*/
.wd-code {
	font-family: monospace;
	white-space: pre;
	font-size: 1em;
	padding: 0.5em;
	color: #1E90FF;
	background-color: #E6E6FA;
	border: thin inset #000000;
	overflow: auto;
	font-style: normal;
	font-weight: normal;
}
.wd-code q,
.wd-code var {
	color: #FF1493;
	font-style: normal;
	font-weight: normal;
}
.wd-code cite {
	color: #6A5ACD;
	font-style: italic;
	font-weight: normal;
}
.wd-code code {
	color: #006400;
	font-style: normal;
	font-weight: bold;
}
.wd-code sample {
	color: #4B0082;
	background-color: #E6E6AA;
	font-style: normal;
	font-weight: normal;
	padding: 2px 0;
}
.wd-code sample:before {
	content: "\226B  ";
}
*[data-wd-action] {
	cursor: pointer;
}
