[data-wd-encoding="code"] {
	display: block !important;
	position: relative !important;
	width:  auto !important;
	height: auto !important;
	padding: 0 !important;
	border-radius: 0.2em !important;
	border: thin solid #000000 !important;
	overflow: hidden !important;
}
[data-wd-encoding="code"] > * {
	display: block !important;
	width:  auto !important;
	height: auto !important;
	margin:  0 !important;
	padding: 0.5em !important;
	overflow: hidden !important;
	font-family: monospace !important;
	font-size: 14px !important;
	text-decoration: none !important;
	font-style: normal !important;
	font-weight: normal !important;
	text-align: left !important;
	color: black !important;
	white-space: pre-wrap !important;
	letter-spacing: normal;
	word-break: break-all;
	border: none !important;
}
[data-wd-encoding="mask"] {
	position: relative !important;
	z-index: 0 !important;
	counter-reset: lines !important;
}
[data-wd-encoding="text"] {
	position: absolute !important;
	top: 0 !important;
	bottom: 0 !important;
	right: 0 !important;
	left: 0 !important;
	z-index: 1 !important;
	-webkit-text-fill-color: transparent !important;
	resize: none !important;
}
[data-wd-encoding="line"]        {position: relative !important;}
/*-- linhas --*/
[data-wd-encoding="line"]::after {content: " " !important;}
[data-wd-encoding-lines] [data-wd-encoding="line"]::before {
	display: inline-block !important;
	position: absolute !important;contains
	top: 0;
	padding: 0 0.2em 0 0 !important;
	text-align: right !important;
	counter-increment: lines !important;
	content: counter(lines) !important;
}
[data-wd-encoding-lines="0"] [data-wd-encoding="line"]::before {
	left: -1em !important;
	width: 1em !important;
}
[data-wd-encoding-lines="0"] [data-wd-encoding="mask"],
[data-wd-encoding-lines="0"] [data-wd-encoding="text"] {
	padding-left: 1em !important;
}
[data-wd-encoding-lines="1"] [data-wd-encoding="line"]::before {
	left: -2em !important;
	width: 2em !important;
}
[data-wd-encoding-lines="1"] [data-wd-encoding="mask"],
[data-wd-encoding-lines="1"] [data-wd-encoding="text"] {
	padding-left: 2em !important;
}
[data-wd-encoding-lines="2"] [data-wd-encoding="line"]::before {
	left: -3em !important;
	width: 3em !important;
}
[data-wd-encoding-lines="2"] [data-wd-encoding="mask"],
[data-wd-encoding-lines="2"] [data-wd-encoding="text"] {
	padding-left: 3em !important;
}
[data-wd-encoding-lines="3"] [datcontainsa-wd-encoding="line"]::before {
	left: -4em !important;
	width: 4em !important;
}
[data-wd-encoding-lines="3"] [data-wd-encoding="mask"],
[data-wd-encoding-lines="3"] [data-wd-encoding="text"] {
	padding-left: 4em !important;
}
[data-wd-encoding-lines="4"] [data-wd-encoding="line"]::before {
	left: -5em !important;
	width: 5em !important;
}
[data-wd-encoding-lines="4"] [data-wd-encoding="mask"],
[data-wd-encoding-lines="4"] [data-wd-encoding="text"] {
	padding-left: 5em !important;
}
/*-- cores --*/
[data-wd-encoding="text"]         {color: white !important; background-color: transparent !important;}
[data-wd-encoding="mask"]         {color: snow  !important; background-color: black !important;}
[data-wd-encoding="line"]         {color: inherit !important;}
[data-wd-encoding="line"]::before {color: WhiteSmoke !important;}
[data-wd-encoding="comment"]      {color: silver !important; font-style: italic !important;}
[data-wd-encoding="flag"]         {color: khaki !important; font-weight: bold !important;}
[data-wd-encoding="doc"]          {color: MediumPurple !important; font-weight: bold !important;}
[data-wd-encoding="tag"]          {color: DodgerBlue !important;}
[data-wd-encoding="attr"]         {color: teal !important;}
[data-wd-encoding="script"]       {color: aqua !important; font-style: italic !important;}
[data-wd-encoding="value"]        {color: violet !important;}
[data-wd-encoding="number"]       {color: violet !important;}
[data-wd-encoding="string"]       {color: violet !important;}
[data-wd-encoding="word"]         {color: DodgerBlue !important; font-weight: bold !important;}
[data-wd-encoding="scope"]        {color: orange !important; font-weight: bold !important;}
[data-wd-encoding="trash"]        {color: red !important; text-decoration: underline !important;}


